# NOTES ------------------------------------------------------------------

# Type A (Servo_Selector, Shared drive stepper):
# PicoMMU (with Servo_Selector)


# reverse boden cap height:   	9.0mm
# extruder height: 		 	   46.0mm
# throat height:			   	4.0mm
# heat block height: 		   10.0mm
# nozzle height: 				8.4mm
# ---------------------------------
# 						  	   77.4mm
# [cold zone]
# 35.0mm from top of extruder gear to bottom of extruder

# [throat] 4.0mm

# [hot zone]
# 39.0mm from top of extruder gear to top of heat block

[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1A0034000A504D4D35383820-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups

[board_pins mmu]
mcu: mmu
aliases:
    MMU_GEAR_UART=PA15,
    MMU_GEAR_STEP=PD0,
    MMU_GEAR_DIR=PD1,
    MMU_GEAR_ENABLE=PD2,
    MMU_GEAR_DIAG=,

    MMU_GEAR_UART_1=,
    MMU_GEAR_STEP_1=,
    MMU_GEAR_DIR_1=,
    MMU_GEAR_ENABLE_1=,
    MMU_GEAR_DIAG_1=,

    MMU_GEAR_UART_2=,
    MMU_GEAR_STEP_2=,
    MMU_GEAR_DIR_2=,
    MMU_GEAR_ENABLE_2=,
    MMU_GEAR_DIAG_2=,

    MMU_GEAR_UART_3=,
    MMU_GEAR_STEP_3=,
    MMU_GEAR_DIR_3=,
    MMU_GEAR_ENABLE_3=,
    MMU_GEAR_DIAG_3=,

    MMU_SEL_UART=,#PB9,PA15,
    MMU_SEL_STEP=,
    MMU_SEL_DIR=,
    MMU_SEL_ENABLE=,
    MMU_SEL_DIAG=,
    MMU_SEL_ENDSTOP=,
    MMU_SEL_SERVO=PB9,

    MMU_ENCODER=,
    MMU_GATE_SENSOR=PB6,#PB4,
    MMU_NEOPIXEL=,#PD3,

    MMU_PRE_GATE_0=PB8,#PB7,
    MMU_PRE_GATE_1=PB3,#PB5,
    MMU_PRE_GATE_2=PB4,#PB6,
    MMU_PRE_GATE_3=PD3,#PB8,
    MMU_PRE_GATE_4=,
    MMU_PRE_GATE_5=,
    MMU_PRE_GATE_6=,
    MMU_PRE_GATE_7=,
    MMU_PRE_GATE_8=,
    MMU_PRE_GATE_9=,
    MMU_PRE_GATE_10=,
    MMU_PRE_GATE_11=,

    MMU_POST_GEAR_0=,
    MMU_POST_GEAR_1=,
    MMU_POST_GEAR_2=,
    MMU_POST_GEAR_3=,
    MMU_POST_GEAR_4=,
    MMU_POST_GEAR_5=,
    MMU_POST_GEAR_6=,
    MMU_POST_GEAR_7=,
    MMU_POST_GEAR_8=,
    MMU_POST_GEAR_9=,
    MMU_POST_GEAR_10=,
    MMU_POST_GEAR_11=,

    MMU_ESPOOLER_RWD_0=,
    MMU_ESPOOLER_FWD_0=,
    MMU_ESPOOLER_EN_0=,
    MMU_ESPOOLER_TRIG_0=,
    MMU_ESPOOLER_RWD_1=,
    MMU_ESPOOLER_FWD_1=,
    MMU_ESPOOLER_EN_1=,
    MMU_ESPOOLER_TRIG_1=,
    MMU_ESPOOLER_RWD_2=,
    MMU_ESPOOLER_FWD_2=,
    MMU_ESPOOLER_EN_2=,
    MMU_ESPOOLER_TRIG_2=,
    MMU_ESPOOLER_RWD_3=,
    MMU_ESPOOLER_FWD_3=,
    MMU_ESPOOLER_EN_3=,
    MMU_ESPOOLER_TRIG_3=,

