
[constants]
e_stall_frequency: 100

# [autotune_tmc extruder]
# sg4_thrs: ${constants.e_stall_frequency}

[extruder]
#endstop_pin: tmc2209_extruder:virtual_endstop


[gcode_macro AUTO_SERVO_SET]
gcode:
    {% set angle = params.ANGEL|float %}
    M118 <*> Calling AUTO_SERVO_SET angle={ "%.1f" % angle }
    MMU__MOTORS_OFF
    #SET_SERVO SERVO=selector_servo ANGLE=145
    SET_SERVO SERVO=selector_servo ANGLE={angle}

