# NOTES ------------------------------------------------------------------
# reverse boden cap height:   	9.0mm
# extruder height: 		 	   46.0mm
# throat height:			   	4.0mm
# heat block height: 		   10.0mm
# nozzle height: 				8.4mm
# ---------------------------------
# 						  	   77.4mm
# [cold zone]
# 35.0mm from top of extruder gear to bottom of extruder

# [throat] 4.0mm

# [hot zone]
# 39.0mm from top of extruder gear to top of heat block

[mcu PICO_MMU]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1A0034000A504D4D35383820-if00

[duplicate_pin_override]
pins: PICO_MMU: PB6

[servo sp_servo]
pin: PICO_MMU: PB9
initial_angle: 0
maximum_servo_angle: 180
minimum_pulse_width: 0.000700
maximum_pulse_width: 0.002300

[manual_stepper sp_motor]  
step_pin: PICO_MMU:PD0
dir_pin: PICO_MMU:PD1
enable_pin: !PICO_MMU:PD2
full_steps_per_rotation: 200
rotation_distance: 18.4 #18.26 18.25

[tmc2209 manual_stepper sp_motor]
uart_pin: PICO_MMU:PA15
interpolate: ${constants.interpolate}
run_current: ${constants.run_current}      
sense_resistor: ${constants.sense_resistor}

[autotune_tmc manual_stepper sp_motor]
motor: usongshine-17hs4401
tuning_goal: silent

[filament_switch_sensor sp_sensor_runout]
switch_pin: ^PICO_MMU:PB6
insert_gcode: _SP_SENSOR_IN
runout_gcode: _SP_SENSOR_OUT

; MMU_PRE_GATE_0=PB8 	#Endstop pin
; MMU_PRE_GATE_1=PB3 	# Endstop pin
; MMU_PRE_GATE_2=PB4 	#Endstop pin
; MMU_PRE_GATE_3=PB  	#I2C pin
; MMU_ENCODER=PB3    	#I2C pin
; MMU_GATE_SENSOR=PB6 	#Probe pin

