
[constants]
z_horizontal_move: 10

[bed_mesh]
mesh_min: -5, 6.5
mesh_max: 200, 225
probe_count: 5,5
speed: ${constants.homing_speed}

[bltouch]
sensor_pin: PA6
control_pin: PA7
speed: ${constants.z_vertical_speed}
x_offset: ${constants.x_offset}
y_offset: ${constants.y_offset}
drop_first_result: true
probe_with_touch_mode: true
stow_on_each_sample: false
samples_tolerance_retries: 10
samples_tolerance: 0.01
samples_result: median
samples: 3

# [gcode_macro BLTOUCH_PIN_DOWN]
# gcode: BLTOUCH_DEBUG COMMAND=pin_down

# [gcode_macro BLTOUCH_PIN_UP]
# gcode: BLTOUCH_DEBUG COMMAND=pin_up

# [gcode_macro BLTOUCH_RESET]
# gcode: BLTOUCH_DEBUG COMMAND=reset
