
# https://github.com/vvuk/eddy-ng/wiki/BTT-Eddy

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450610870791C-if00
restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy # ldc1612
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: ${constants.x_offset}
y_offset: ${constants.y_offset}
z_offset: ${constants.z_offset}
speed: ${constants.travel_speed}

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu 
sensor_mcu: eddy
min_temp: 0
max_temp: ${constants.max_temp_bed}

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26