# [axis_twist_compensation]
# horizontal_move_z: ${constants.z_hop_dist}
# calibrate_start_x: ${constants.screw_near}
# calibrate_start_y: ${constants.screw_near}
# calibrate_end_x: ${constants.screw_far}
# calibrate_end_y: ${constants.screw_far}
# calibrate_x: ${constants.bed_mid - constants.x_probe_offset}
# calibrate_y: ${constants.bed_mid - constants.y_probe_offset}

# [gcode_macro AUTO_X_TWIST]
# gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=X
# description: Auto calibrate the X axis twist compensation

# [gcode_macro AUTO_Y_TWIST]
# gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=Y
# description: Auto calibrate the Y axis twist compensation