# NOTES ------------------------------------------------------------------

# Type A (Servo_Selector, Shared drive stepper):
# PicoMMU (with Servo_Selector)


# reverse boden cap height:   	9.0mm
# extruder height: 		 	   46.0mm
# throat height:			   	4.0mm
# heat block height: 		   10.0mm
# nozzle height: 				8.4mm
# ---------------------------------
# 						  	   77.4mm
# [cold zone]
# 35.0mm from top of extruder gear to bottom of extruder

# [throat] 4.0mm

# [hot zone]
# 39.0mm from top of extruder gear to top of heat block

[mcu PICO_MMU]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1A0034000A504D4D35383820-if00

[duplicate_pin_override]
pins: PICO_MMU:PB6

[servo sp_servo]
# pin: PICO_MMU:PB9
initial_angle: 0
maximum_servo_angle: 180
minimum_pulse_width: 0.000700
maximum_pulse_width: 0.002300

[manual_stepper sp_motor]  
# step_pin: PICO_MMU:PD0
# dir_pin: PICO_MMU:PD1
# enable_pin: !PICO_MMU:PD2
full_steps_per_rotation: 200
rotation_distance: 18.4 #18.26 18.25
endstop_pin: ^PICO_MMU:PB6
# microsteps: ${constants.microsteps}

# [tmc2209 manual_stepper sp_motor]
# # uart_pin: PICO_MMU:PA15
# interpolate: ${constants.interpolate}
# run_current: ${constants.run_current}      
# sense_resistor: ${constants.sense_resistor}

# [autotune_tmc manual_stepper sp_motor]
# motor: usongshine-17hs4401
# tuning_goal: silent

[filament_switch_sensor sp_sensor_runout]
switch_pin: ^PICO_MMU:PB6
insert_gcode: _SP_SENSOR_IN
runout_gcode: _SP_SENSOR_OUT

; MMU_PRE_GATE_0=PB8 	#Endstop pin
; MMU_PRE_GATE_1=PB3 	# Endstop pin
; MMU_PRE_GATE_2=PB4 	#Endstop pin
; MMU_PRE_GATE_3=PB  	#I2C pin
; MMU_ENCODER=PB3    	#I2C pin
; MMU_GATE_SENSOR=PB6 	#Probe pin


[delayed_gcode INIT]
initial_duration: 3
gcode:
    SP_HOME

    MANUAL_STEPPER STEPPER=sp_motor ENABLE=0
    SET_SERVO servo=sp_servo WIDTH=0
    RESPOND MSG="SP: Servo and Motor OFF"
description: asdf


[gcode_macro SP_HOME]
gcode:
  #{% set sp = printer['gcode_macro _SP_VARS'] %}
  #{% set rt = printer['gcode_macro _SP_VARS_RUNTIME'] %}
  {% set angle_home = 0.0|float  %}
  SET_SERVO SERVO=sp_servo ANGLE={angle_home}
  G4 P{1000*1.2}
  M400
    
  #SET_GCODE_VARIABLE MACRO=_SP_VARS_RUNTIME VARIABLE=commanded_angle VALUE={angle_home}
  #SET_GCODE_VARIABLE MACRO=_SP_VARS_RUNTIME VARIABLE=selected_servo_lane VALUE=-1

