
# -------------------------------------------------------------------------------------------
# START_PRINT
# -------------------------------------------------------------------------------------------
[gcode_macro START_PRINT]
gcode:
    {% set bed_temp = params.BED_TEMP|default(60)|float %}
    {% set e_temp = params.EXTRUDER_TEMP|default(220)|float %}

    M117
    EXCLUDE_OBJECT_DEFINE

    AUTO_Z_TILT

    M190 S{bed_temp}
    M109 S{e_temp-60}
    G4 P020000 ; wait 20 seconds for thermal expansion to stabilize

    PROBE_EDDY_NG_TAP
    BED_MESH_CALIBRATE

    TURN_ON_ACCESORIES

    M109 S{e_temp}

    AUTO_PURGE
    
    M83

# -------------------------------------------------------------------------------------------
# END_PRINT
# -------------------------------------------------------------------------------------------
[gcode_macro END_PRINT]
gcode:
    {% set travel_speed = printer.toolhead.max_velocity|float %}        
    {% set x_min = printer.toolhead.axis_minimum.x|int %}     
    {% set y_max = printer.toolhead.axis_maximum.y|int %}                                              # Set travel speed from config

    G91 
    RETRACT_TIP
    AUTO_LIFT_Z
    G1 X{x_min} Y{y_max} F{travel_speed * 60}

    TURN_OFF_HEATERS
    M84 ; disable motors
    M107 ; turn off fan
    TURN_OFF_ACCESORIES

    UPDATE_DELAYED_GCODE ID=CLEAR_FILE DURATION=1
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    BED_MESH_CLEAR

# -------------------------------------------------------------------------------------------
# CANCEL_PRINT
# -------------------------------------------------------------------------------------------
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    {% set timeout = printer.configfile.settings.idle_timeout.timeout|int %}
    SET_IDLE_TIMEOUT TIMEOUT={timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    END_PRINT
    BASE_CANCEL_PRINT

# -------------------------------------------------------------------------------------------
# PAUSE
# -------------------------------------------------------------------------------------------
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z_hop = params.Z|default(10)|int %}                        ; z hop amount
    {% set x_max = printer.toolhead.axis_maximum.x|int %}                                        ; z hop amount
    {% set y_min = printer.toolhead.axis_minimum.y|int %}            
    {% set e_temp = printer['extruder'].target|int %}    
    {% set idle_timeout = 86400|int %} #43200                         ; set timeout to 12 hours
    {% set paused_status = printer['pause_resume'].is_paused|int %}
    {% set force = 6000|int %}

    {% if paused_status == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z_hop}   ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={e_temp} ; set hotend temp variable for reference in resume macro                           

        TURN_OFF_ACCESORIES
        
        SAVE_GCODE_STATE NAME=PAUSE                                   ; save current print position for resume
        BASE_PAUSE      

        RETRACT_TIP
        AUTO_LIFT_Z
        G1 X{x_max/2} Y{y_min+5} F{force}                             ; park toolhead at front center

        SAVE_GCODE_STATE NAME=PAUSEPARK                               ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        M104                                                          ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT={idle_timeout}                 
    {% endif %}

# -------------------------------------------------------------------------------------------
# RESUME
# -------------------------------------------------------------------------------------------
[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                         ; hotend prime amount (in mm)
    {% set timeout = printer.configfile.settings.idle_timeout.timeout|int %}
    {% set paused_status = printer['pause_resume'].is_paused|int %}
    {% set z_force = 900|int %}

    {% if paused_status == 1 %}
        TURN_ON_ACCESORIES

        SET_IDLE_TIMEOUT TIMEOUT={timeout}                          ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                       ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100    ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                         ; relative positioning
        M83                                                         ; relative extruder positioning
        G1 Z{zhop * -1} F{z_force}                                  ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60         ; restore position
        BASE_RESUME                                                 ; resume print
    {% endif %}

# -------------------------------------------------------------------------------------------
# M109: heat extruder by param S ?: 0
# -------------------------------------------------------------------------------------------
[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|default(0)|float %}
    {action_respond_info("<*> Heating Extruder to: %.1f" % (s))}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} ; Wait for hotend temp
    {% endif %}

# -------------------------------------------------------------------------------------------
# M190 : heat bed by param S ?: 0
# -------------------------------------------------------------------------------------------
[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|default(0)|float %}
    {action_respond_info("<*> Heating Bed to: %.1f" % (s))}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} ; Wait for bed temp (within 2 degree)
    {% endif %}

# -------------------------------------------------------------------------------------------
# CLEAR_FILE
# -------------------------------------------------------------------------------------------
# [delayed_gcode CLEAR_FILE]
# gcode: SDCARD_RESET_FILE
# initial_duration: 1.0

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Utils
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[gcode_macro RETRACT_TIP]
gcode:
    G91 
    G1 E-5 F900
    G90
# -------------------------------------------------------------------------------------------

[gcode_macro AUTO_LIFT_Z]
gcode:
    {% set z_hop = params.Z|default(10)|int %}            ; z hop amount
    {% set z_max = printer.toolhead.axis_maximum.z %}     ; maximum Z height
    {% set req = printer.gcode_move.position.z + z_hop %} ; calculate requested Z height after hop

    G91 ; relative positioning                                                               
    {% if req >= z_max %} ; if z max is exceeded, show message and set zhop value for resume to 0
        { action_respond_info("Pause zhop exceeds maximum Z height.") }                  
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
    {% else %} ; raise Z up by z hop amount
         G1 Z{z_hop} F900                                 
    {% endif %}
    G90 ; absolute positioning                                                            
# -------------------------------------------------------------------------------------------

[gcode_macro AUTO_CALIBRATE]
gcode:
    AUTO_Z_TILT
    AUTO_X_TWIST
    AUTO_Y_TWIST
	SCREWS_TILT_CALCULATE
# -------------------------------------------------------------------------------------------

[gcode_macro AUTO_Z_TILT]
gcode:
    G28
	Z_TILT_ADJUST
	G28
# -------------------------------------------------------------------------------------------

[gcode_macro TURN_OFF_ACCESORIES]
gcode:
    {action_respond_info("<*> Turning OFF Accesories")}
    SET_LED_OFF
    SET_FILAMENT_SENSOR_OFF

[gcode_macro TURN_ON_ACCESORIES]
gcode:
    {action_respond_info("<*> Turning ON Accesories")}
    SET_LED_ON
    SET_FILAMENT_SENSOR_ON

[gcode_macro AUTO_PURGE]
gcode:
    SAVE_GCODE_STATE NAME=Prepurge_State        # Create gcode state
    G92 E0                                      # Reset extruder
    G0 F1800                                    # Set travel speed
    G90                                         # Absolute positioning
    G0 X5 Y-5                                   # Move to purge position
    G0 Z0.8                                     # Move to purge Z height
    M83                                         # Relative extrusion mode
    G1 E5 F144                                  # Move filament tip
    G1 X25 E30 F144 # E30                       # Purge line
    G1 E-.55 F2100                              # Retract
    G0 X30 F1800                                # Rapid move to break string
    G92 E0                                      # Reset extruder distance
    M82                                         # Absolute extrusion mode
    G0 Z1.6 F1800                               # Z hop
    RESTORE_GCODE_STATE NAME=Prepurge_State     # Restore gcode state
# -------------------------------------------------------------------------------------------

[gcode_macro AUTO_X_TWIST]
gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=X

[gcode_macro AUTO_Y_TWIST]
gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=Y

[gcode_macro AUTO_PID_EXTRUDER]
gcode: 
    {% set req = params.TEMP|float %}
    {action_respond_info("<*> Calibrating Extruder PID for: %.1f" % (req))}
    PID_CALIBRATE HEATER=extruder TARGET={req}

[gcode_macro AUTO_PID_BED]
gcode: 
    {% set req = params.TEMP|float %}
    {action_respond_info("<*> Calibrating Bed PID for: %.1f" % (req))}
    PID_CALIBRATE HEATER=heater_bed TARGET={req}

# [gcode_macro QUERY_CHAMBER]
# gcode:
#     {% set sensor = printer["bme280 chamber"] %}
#     {action_respond_info(
#         "Temperature: %.2f C\n"
#         "Pressure: %.2f hPa\n"
#         "Humidity: %.2f%%\n" % (
#             sensor.temperature,
#             sensor.pressure,
#             sensor.humidity))}