# -------------------------------------------------------------------------------------------
# START_PRINT
# -------------------------------------------------------------------------------------------

[gcode_macro START_PRINT]
gcode:
    {% set bed_temp = params.BED_TEMP|default(0)|float %}
    {% set e_temp = params.EXTRUDER_TEMP|default(0)|float %}
    {% set filament_type = params.FILAMENT_TYPE|default('')|string|upper %}
    {% set z_tap_adjust = printer['probe'].tap_adjust_z|float %}
    {% set filament_offset = {"PLA": 0.0,"PETG": -0.020,"TPU": 0.0}.get(filament_type, 0.0)|float %}
    M118 <*> Calling START_PRINT: filament={ "%s" % filament_type }, bed={ "%.1f" % bed_temp }, extruder={ "%.1f" % e_temp }, tap={ "%.3f" % z_tap_adjust }, offset={ "%+.3f" % filament_offset }
    
    PROBE_EDDY_NG_SET_TAP_ADJUST_Z VALUE={(z_tap_adjust + filament_offset)|float}
    EXCLUDE_OBJECT_DEFINE
    SET_FILAMENT_SENSOR_ON

    M104 S{e_temp-50}
    AUTO_Z_TILT BED_TEMP={bed_temp}
    NOZZLE_WIPE

    TOOLHEAD_CENTER PROBE_XY_OFFSETS=1
    PROBE_EDDY_NG_TAP
    BED_MESH_CALIBRATE

    M109 S{e_temp}
    NOZZLE_PURGE
    NOZZLE_WIPE
    WLED_ON STRIP=chamber PRESET=PRINTING

description: Start print sequence with dual-stage wiping and purging

# -------------------------------------------------------------------------------------------
# PAUSE
# -------------------------------------------------------------------------------------------

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set e_temp = printer['extruder'].target|float %}    
    M118 <*> Calling PAUSE

    {% if printer['pause_resume'].is_paused %}
        M118 <*> Skipping PAUSE, printer already paused
    {% else %}
        WLED_ON STRIP=chamber PRESET=PAUSE

        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={c.z_hop_dist}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={e_temp}

        SET_FILAMENT_SENSOR_OFF
        
        SAVE_GCODE_STATE NAME=PAUSE
        BASE_PAUSE      

        NOZZLE_RETRACT
        TOOLHEAD_PARK
        SAVE_GCODE_STATE NAME=PAUSEPARK
        M104 S0
    {% endif %}
description: Pause a print, optionally raising Z and parking the toolhead

# -------------------------------------------------------------------------------------------
# RESUME
# -------------------------------------------------------------------------------------------

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set z_hop = printer['gcode_macro RESUME'].zhop|float %}
    {% set e_temp = printer['gcode_macro RESUME'].etemp|float %}
    M118 <*> Calling RESUME

    {% if not printer['pause_resume'].is_paused %}
        M118 <*> Skipping RESUME, printer not paused
        RETURN
    {% endif %}
    M118 <*> RESUME print with Z hop of { "%.1f" % z_hop }
    WLED_ON STRIP=chamber PRESET=RESUME
    SET_FILAMENT_SENSOR_ON

    {% if e_temp > 0 %} M109 S{e_temp} {% endif %}
    
    ; Return to park area first if toolhead was moved manually
    RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED={c.travel_speed}
    
    NOZZLE_PURGE
    NOZZLE_WIPE
    
    ; Return to print XY location while elevated at Z-hop height
    RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED={c.travel_speed}
    
    WLED_ON STRIP=chamber PRESET=PRINTING
    BASE_RESUME
description: Resume a print after a pause, restoring position & temperatures safely

# -------------------------------------------------------------------------------------------
# CANCEL_PRINT
# -------------------------------------------------------------------------------------------

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    M118 <*> Calling CANCEL_PRINT
    CLEAR_PAUSE
    END_PRINT
    BASE_CANCEL_PRINT
    WLED_ON STRIP=chamber PRESET=CANCEL
description: Cancel a print, turn off heaters, and park the toolhead

# -------------------------------------------------------------------------------------------
# END_PRINT
# -------------------------------------------------------------------------------------------

[gcode_macro END_PRINT]
gcode:    
    M118 <*> Calling END_PRINT

    NOZZLE_RETRACT
    TOOLHEAD_REAR

    TURN_OFF_HEATERS
    M84 ; disable motors
    M107 ; turn off fan
    SET_FILAMENT_SENSOR_OFF
    WLED_ON STRIP=chamber PRESET=COMPLETE
    
    BED_MESH_CLEAR
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    UPDATE_DELAYED_GCODE ID=CLEAR_FILE DURATION=1
description: End a print, turn off heaters, and park the toolhead

# -------------------------------------------------------------------------------------------
# TOOLHEAD
# -------------------------------------------------------------------------------------------

[gcode_macro TOOLHEAD_PARK]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set x_pos = ((c.bed_mid|float) - (c.x_probe_offset|float))|float %}
    {% set y_pos = (printer.toolhead.axis_minimum.y + 5.0)|float %}   
    M118 <*> Calling TOOLHEAD_PARK x={ "%.1f" % x_pos }, y={ "%.1f" % y_pos }

    G91 ; relative positioning for Z lift
    G0 Z10 F{c.z_max_speed*60}
    G90 ; absolute positioning for XY move
    G0 X{x_pos} Y{y_pos} F{c.travel_speed*60} 
description: Park the toolhead at front-center and lift Z safely

[gcode_macro TOOLHEAD_REAR]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set x_pos = printer.toolhead.axis_minimum.x|float %}     
    {% set y_pos = (printer.toolhead.axis_maximum.y - 20.0)|float %}
    M118 <*> Calling TOOLHEAD_REAR x={ "%.1f" % x_pos }, y={ "%.1f" % y_pos }

    G91 ; relative positioning for Z lift
    G0 Z10 F{c.z_max_speed*60}
    G90 ; absolute positioning for XY move
    G0 X{x_pos} Y{y_pos} F{c.travel_speed*60}
description: Park the toolhead back-left, bring bed forward and lift Z

[gcode_macro TOOLHEAD_CENTER]
gcode: 
    {% set c = printer.configfile.settings.constants %}
    {% set apply_offset = params.PROBE_XY_OFFSETS|default(1)|int == 1 %}        
    {% set x_pos = (c.bed_mid|float) - (c.x_probe_offset|float if apply_offset else 0.0) %}
    {% set y_pos = (c.bed_mid|float) - (c.y_probe_offset|float if apply_offset else 0.0) %}
    {% set xy_speed = c.travel_speed * 60 %}
    M118 <*> Calling TOOLHEAD_CENTER x={ "%.1f" % x_pos }, y={ "%.1f" % y_pos }, speed={ "%.0f" % xy_speed }
    G90
    %
    G0 X{x_pos} Y{y_pos} F{xy_speed}
    M400
description: Move toolhead to center

# -------------------------------------------------------------------------------------------
# NOZZLE
# -------------------------------------------------------------------------------------------

[gcode_macro NOZZLE_WIPE]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set wipe_center_x = 240.0|float %}
    {% set half_width = 2.5|float %}
    M118 <*> Calling NOZZLE_WIPE x={ "%.1f" % wipe_center_x }

    G90 ; absolute positioning
    G0 X{wipe_center_x} F{c.homing_speed*60}
    {% for i in range(5) %}
        G0 X{wipe_center_x - half_width} F{80*60}
        G0 X{wipe_center_x + half_width} F{80*60}
    {% endfor %}
    G0 X{wipe_center_x} F{c.homing_speed*60}
description: Stateless nozzle wipe over brush

[gcode_macro NOZZLE_PURGE]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set purge_amount = 36.0|float %}
    {% set retract_amount = -0.75|float %}
    {% set purge_bucket_x = 253.5|float %}
    M118 <*> Calling NOZZLE_PURGE x={ "%.1f" % purge_bucket_x }, purge={ "%.1f" % purge_amount } retract={ "%.1f" % retract_amount }

    {% if not printer.extruder.can_extrude %}
        M118 <*> Skipping NOZZLE_PURGE, extruder too cold
        RETURN
    {% endif %}

    G90 ; absolute positioning for toolhead
    G0 X{purge_bucket_x} F{c.homing_speed*60}
    
    M83 ; relative positioning for extrusion
    G1 E{purge_amount} F{2.5*60.0}
    G4 S2 ; thermal delay
    G1 E{retract_amount} F{35*60}

description: Stateless nozzle purge into bucket

[gcode_macro NOZZLE_RETRACT]
gcode:
    {% set retract_dist = params.DIST|default(-6.0)|float %}
    M118 <*> Calling NOZZLE_RETRACT at retract={ "%.1f" % retract_dist }

    {% if not printer.extruder.can_extrude %}
        M118 <*> Skipping NOZZLE_RETRACT, extruder too cold
        RETURN
    {% endif %}
    M83 ; relative extrusion
    G1 E{retract_dist} F{15*60}
description: Stateless nozzle tip retraction

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# AUTO FUNCTIONS
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[gcode_macro G28]
rename_existing: G28.1
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set home_all = not ('X' in params) and not ('Y' in params) and not ('Z' in params) %}
    {% set hop_dist = c.z_hop_dist|float %}
    {% set lift_dist = hop_dist*3.0|float %}
    M118 <*> Calling G28
    WLED_ON STRIP=chamber PRESET=HOMING
    
    {% if 'z' not in printer.toolhead.homed_axes %}
        M118 <*> Lifting Z lift_dist={ "%.1f" % lift_dist }
        UTIL_FORCE_Z_LIFT HOP={lift_dist} 
    {% endif %}
    
    {% if home_all or 'X' in params %}
        M118 <*> Homing X
        G28.1 X
    {% endif %}
    
    {% if home_all or 'Y' in params %}
        M118 <*> Homing Y
        G28.1 Y
    {% endif %}

    {% if home_all or 'Z' in params %}
        M118 <*> Homing Z
        TOOLHEAD_CENTER PROBE_XY_OFFSETS=1

        G28.1 Z                                  ; Coarse Z home
        G90                                      ; Absolute positioning
        M118 <*> Moving to Eddy sample Z ({ "%.3f" % hop_dist }mm)
        G0 Z{hop_dist} F{c.z_max_speed*60}       ; Drop close to bed (2mm) for sensor accuracy
        G4 S1                                    ; Dwell to settle
        M400                                     ; Wait for moves to complete
        
        M118 <*> Sampling Eddy static probe
        PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1     ; Fine home Z using Eddy frequency readout
        
        M118 <*> Raising Z to final height ({ "%.3f" % lift_dist }mm)
        G0 Z{lift_dist} F{c.z_max_speed*60}      ; Lift up to safe travel clearance height
    {% endif %}

    WLED_ON STRIP=chamber PRESET=IDLE
description: Home X, Y, Z axes safely

[gcode_macro AUTO_Z_LIFT]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set hop_dist = c.z_hop_dist|float %}
    {% set lift_dist = hop_dist*3.0|float %}
    {% set z_max = printer.toolhead.axis_maximum.z|float %}
    {% set delta = (printer.gcode_move.position.z + lift_dist )|float %}
    M118 <*> Calling AUTO_Z_LIFT lift_dist={ "%.3f" % lift_dist }, delta={ "%.3f" % delta }

    # {% if printer.idle_timeout.state == "Printing" %}
    #     M118 <*> Skipping AUTO_Z_LIFT, printer is printing
    #     RETURN
    # {% elif printer.toolhead.homed_axes != "xyz" %}
    #     M118 <*> Homing
    #     G28
    # {% endif %}

    G91 ; relative
    {% if delta >= z_max %}
        M118 <*> Pause zhop exceeds maximum Z height      
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
    {% else %}
        G0 Z{lift_dist} F{c.z_max_speed*60}    
    {% endif %}
    G90 ; absolute
description: Raise Z by specified amount without exceeding maximum height

[gcode_macro AUTO_Z_TILT]
gcode:
    {% set bed_temp = params.BED_TEMP|default(65.0)|float %}
    M118 <*> Calling AUTO_Z_TILT
    G28
    M190 S{bed_temp}
    Z_TILT_ADJUST
    G28 Z
description: Home and adjust Z-tilt

[gcode_macro AUTO_CALIBRATE]
gcode:
    {% set bed_temp = params.BED_TEMP|default(65.0)|float %}
    M118 <*> Calling AUTO_CALIBRATE bed={ "%.1f" % bed_temp }
    M84
    M190 S{bed_temp}
    AUTO_Z_TILT BED_TEMP={bed_temp}
    SCREWS_TILT_CALCULATE
description: Auto calibrate bed mesh and screws tilt

[gcode_macro AUTO_TAP_CHECK]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set bed_temp = params.BED_TEMP|default(65.0)|float %}
    {% set tap_adjust = params.TAP_ADJUST|default(c.z_tap_adjust|float)|float %}
    M118 <*> Calling AUTO_TAP_CHECK tap={ "%.3f" % tap_adjust}, bed={ "%.1f" % bed_temp }

    AUTO_Z_TILT BED_TEMP={bed_temp}
    PROBE_EDDY_NG_SET_TAP_ADJUST_Z VALUE={tap_adjust}
    PROBE_EDDY_NG_TAP
    M400
description: Check Tap accuracy

[gcode_macro AUTO_EDDY_CALIBRATE]
gcode: 
    {% set c = printer.configfile.settings.constants %}
    {% set bed_temp = params.BED_TEMP|default(65.0)|float %}
    M118 <*> Calling AUTO_EDDY_CALIBRATE

    AUTO_Z_TILT BED_TEMP={bed_temp}
    TOOLHEAD_CENTER PROBE_XY_OFFSETS=0

    {% for i in range(5) %} 
        PROBE_EDDY_NG_STATUS 
    {% endfor %}

    M190 S{bed_temp}
    PROBE_EDDY_NG_SETUP
description: Calibrate EDDY probe and setup for bed mesh

# -------------------------------------------------------------------------------------------
# UTIL
# -------------------------------------------------------------------------------------------

[gcode_macro UTIL_FORCE_Z_LIFT]
gcode:
    {% set c = printer.configfile.settings.constants %}
    {% set z_hop_dist = params.HOP|default(c.z_hop_dist)|float %}
    M118 <*> Calling UTIL_FORCE_Z_LIFT hop_dist={ "%.1f" % z_hop_dist }

    SET_KINEMATIC_POSITION Z=0
    G90 ; absolute
    G0 Z{z_hop_dist} F{c.z_max_speed*60}
    M400
description: Force move Z axis up

[gcode_macro UTIL_PID_BED]
gcode: 
    {% set req = params.TEMP|float %}
    M118 <*> Calling UTIL_PID_BED bed={ "%.1f" % req }
    PID_CALIBRATE HEATER=heater_bed TARGET={req}
description: Calibrate bed PID

[gcode_macro UTIL_PID_EXTRUDER]
gcode: 
    {% set req = params.TEMP|float %}
    M118 <*> Calling UTIL_PID_EXTRUDER extruder={ "%.1f" % req }
    PID_CALIBRATE HEATER=extruder TARGET={req}
description: Calibrate extruder PID

# ---------------------------------------------------------------------------------
# HEATING
# -------------------------------------------------------------------------------------------

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|default(0)|float %}
    M118 <*> Calling M109 extruder={ "%.1f" % s }
    WLED_ON STRIP=chamber PRESET=HEATING
    {% if s != 0 %} M99109 S{s} {% endif %}
    WLED_ON STRIP=chamber PRESET=IDLE
description: Heat extruder and wait

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|default(0)|float %}
    M118 <*> Calling M190 bed={ "%.1f" % s }
    WLED_ON STRIP=chamber PRESET=HEATING
    {% if s != 0 %} M99190 S{s} {% endif %}
    WLED_ON STRIP=chamber PRESET=IDLE
description: Heat bed and wait

# -------------------------------------------------------------------------------------------
# CLEAR_FILE
# -------------------------------------------------------------------------------------------

[delayed_gcode CLEAR_FILE]
gcode:
    M118 <*> Calling CLEAR_FILE
    SDCARD_RESET_FILE
description: Clear SD file after print

# -------------------------------------------------------------------------------------------
# FILAMENT
# -------------------------------------------------------------------------------------------

[delayed_gcode DISABLE_FILAMENT_SENSOR_ON_STARTUP]
initial_duration: 1
gcode: 
    M118 <*> Calling DISABLE_FILAMENT_SENSOR_ON_STARTUP
    SET_FILAMENT_SENSOR_OFF
description: Disable filament sensor on startup

[gcode_macro SET_FILAMENT_SENSOR_OFF]
gcode:
    {% set sensor = params.SENSOR|default("sp_sensor_runout")|string %}
    M118 <*> Calling SET_FILAMENT_SENSOR_OFF
    SET_FILAMENT_SENSOR SENSOR={sensor} ENABLE=0
description: Disable filament sensor

[gcode_macro SET_FILAMENT_SENSOR_ON]
gcode: 
    {% set sensor = params.SENSOR|default("sp_sensor_runout")|string %}
    M118 <*> Calling SET_FILAMENT_SENSOR_ON
    SET_FILAMENT_SENSOR SENSOR={sensor} ENABLE=1
description: Enable filament sensor

[gcode_macro M600]
gcode:
    M118 <*> Calling M600 Filament Change
    PAUSE
description: Filament change

# -------------------------------------------------------------------------------------------
# MMU OVERRIDES
# -------------------------------------------------------------------------------------------

[gcode_macro _SP_PRINT_START]
gcode: 
    M118 <*> Skipping _SP_PRINT_START
description: Default no-op override

[gcode_macro _SP_PRINT_END]
gcode:
    M118 <*> Skipping _SP_PRINT_END
description: Default no-op override

[gcode_macro _SP_SET_PURGE]
gcode:
    M118 <*> Skipping _SP_SET_PURGE
description: Default no-op override

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# WLED (ENCLOSURE STRIP)
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[delayed_gcode INIT_WLED]
initial_duration: 10
gcode:
    M118 <*> Calling INIT_WLED
    WLED_ON STRIP=chamber PRESET=Idle
description: Initialize lighting

[gcode_macro WLED_ON]
gcode:
  {% set strip = params.STRIP|string %}
  {% set preset = params.PRESET|default("NA")|string|upper %}
  {% set preset_index = {"IDLE":1,"HEATING":2,"PRINTING":3,"PAUSE":4,"CANCEL":5,"RESUME":6,"HOMING":7,"COMPLETE":8}.get(preset, 0)|int %}
  #M118 <*> Calling WLED_ON strip={ "%s" % strip }, preset={ "%s" % preset }
  {action_call_remote_method("set_wled_state",strip=strip,state=True,preset=preset_index)}
description: Turn WLED strip on using optional preset

[gcode_macro WLED_OFF]
gcode:
  {% set strip = params.STRIP|string %}
  M118 <*> Calling WLED_OFF strip={ "%s" % strip }
  {action_call_remote_method("set_wled_state",strip=strip,state=False)}
description: Turn WLED strip off

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# OVERRIDE SLICER LIMITS CONTROLS
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[gcode_macro M201]
gcode:
    M118 <*> Skipping M201
    G4 P1
description: Dummy macro for Marlin acceleration limits compatibility

[gcode_macro M203]
gcode: 
    M118 <*> Skipping M203
    G4 P1
description: Dummy macro for Marlin maximum feedrate compatibility

[gcode_macro M205]
gcode:
    M118 <*> Skipping M205
    G4 P1
description: Dummy macro for Marlin jerk compatibility


# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Notes
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# G90 absolute XYZ positioning
# G0 X100; (X=100)

# G91 relative XYZ positioning
# G0 X100; (X+100)

# M82 absolute E positioning
# G1 E20;  (E=20)

# M83 relative E positioning
# G1 E20;  (E+20)