# [axis_twist_compensation]
# speed: ${constants.travel_speed}
# horizontal_move_z: ${constants.z_horizontal_move}
# calibrate_start_x: ${constants.screw_near}
# calibrate_start_y: ${constants.screw_near}
# calibrate_end_x: ${constants.screw_far}
# calibrate_end_y: ${constants.screw_far}
# calibrate_x: ${constants.x_home_pos}
# calibrate_y: ${constants.y_home_pos}

# [gcode_macro AUTO_X_TWIST]
# gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=X
# description: Auto calibrate the X axis twist compensation

# [gcode_macro AUTO_Y_TWIST]
# gcode: AXIS_TWIST_COMPENSATION_CALIBRATE AXIS=Y
# description: Auto calibrate the Y axis twist compensation