
# [neopixel headlight]
# pin: PC7
# chain_count: 2
# initial_RED: 0.25
# initial_GREEN: 0.25
# initial_BLUE: 0.25

# [gcode_macro SET_LED_ON]
# gcode: SET_LED LED=headlight RED=0.25 GREEN=0.25 BLUE=0.25
# description: Turn on the headlight LED with specified color values

# [gcode_macro SET_LED_OFF]
# gcode: SET_LED LED=headlight RED=0 GREEN=0 BLUE=0
# description: Turn on/off the headlight LED with specified color values

# [gcode_macro SET_LED_ON]
# gcode:
# description: Turn on the headlight LED with specified color values

# [gcode_macro SET_LED_OFF]
# gcode:
# description: Turn off the headlight LED
